Checks: >
    clang-analyzer-*,
    cppcoreguidelines-*,
    modernize-*,
    openmp-*,
    performance-*

CheckOptions:
  - key: bugprone-argument-comment.StrictMode
    value: 1
  - key: bugprone-exception-escape.FunctionsThatShouldNotThrow
    value: WinMain,SDL_main